@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
/*esta es la forma de llamar letras de ABC
font-family: 'Monofett', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
/*letra de detalles de tarjetas
font-family: 'Iceland', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
/*letra de titulos y nombres
font-family: 'Slackey', cursive;*/
*{
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0%;
    
}
.pantalla1{
    background-image:url(../imagenes/pokemon.jpg);
    background-size: cover;
    height:auto;
    padding: 50vh 50vh ;
    
}
.instrucciones{
    position:absolute;
    left: 35px;
    top: 5px;
    color: #81C258;
    font-size: 25px;
    line-height: 29px;
}
.tex1{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 365px;
    top: 536px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    color: rgba(253, 247, 247, 0.53);
}
#nomUsuario{
    position: absolute;
    top: 630px;
    left: 419px;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    color:#B8A0BC;
    margin: 3px;
    padding: 5px 5px;
}
.botonI{
    position: absolute;
    top: 700px;
    left: 319px;
    outline: none;
    background-color:transparent;
    border: double;
    color:#D2D61B;
    width: 28%;
    display: inline-block;
    font-size: 50px;
    margin: 25px;
    padding: 15px 15px;
    
}
.botonI:hover{
    box-shadow: 0 0 5px #cdee3a, 0 0 30px #cdee3a, 0 0 30px #cdee3a;
}
.pantalla2{
    background-image: url(../imagenes/pantalla2.jpeg);
    background-size: cover;
    top: auto;
    margin:0%;
    padding: 50vh 1vh;
}
.b1{
    position: absolute;
    width: 500px;
    margin: 6vh;
    left: 670px;
    top: 0px;
    font-size: 55px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    text-shadow:10px 4px 3px rgba(0, 0, 0, 0.993);

}
.b2{
    position: absolute;
    width: 500px;
    margin: 18vh;
    left: 57vh;
    top: 0px;
    font-size: 53px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow:10px 4px 3px rgba(41, 40, 40, 0.993);

}
.b3{
    position: absolute;
    width: 1000px;
    margin: 38.5vh;
    left: 15vh;
    top: 15px;
    font-size: 53px;
    
    font-family: 'Press Start 2P', cursive;
    color:#f1ed08df;
    text-shadow:10px 4px 3px rgba(0, 0, 0, 0.993);
}
.k{
    position: fixed;
    right: 158vh;
    top: 600px;
    font-size: 45px;
    margin: 0px;
    font-family: 'Slackey', cursive;
    color:#683503;
    text-shadow:5px 1px 2px rgb(10, 65, 3);

}
.j{
    position: fixed;
    right: 20vh;
    top: 600px;
    font-size: 45px;
    margin: 0px;
    font-family: 'Slackey', cursive;
    color:#683503;
    text-shadow:5px 1px 2px rgb(10, 65, 3);
}
.botonk{
    position: fixed;
    left: 150px;
    top: 650px;
    margin: 20px;
    padding: 1vh;
    border-radius: 25px;
    outline: transparent;

}
.botonj{
    position: fixed;
    left: 1510px;
    top: 650px;
    margin: 20px;
    padding: 1vh;
    border-radius: 25px;
    outline: transparent;
}
/*aqui inicia barra lateral*/
.contenedor-menu1{
    position: fixed;
    background: rebeccapurple;
    width: 20%;
    min-width: 300px;
    margin: 0%;
    top: 0%;
    display: inline-block;
    font-family: 'Iceland', cursive;
    font-size: 25px;
    line-height: 18px;
}
a{
    text-decoration: none;
    color: black;   
}

.contenedor-menu1 .botonA2{
    width: 35%;
}
.contenedor-menu1 ul{
    list-style: none;
}
.contenedor-menu1 .botonA2 li a{
    display: block;
    padding: 15px;
    background: lightseagreen;
}
/*la siguiente linea realiza cambio de colores sencibles al pasar el mouse sobre el*/
.contenedor-menu1 .botonA2 li a:hover{
    background: #81C258;
    color: purple;
}
.contenedor-menu1 .botonA2 .icono.derecha{
    font-size: 12px;
    line-height: 18px;
    float: inline-start;
    margin-left: 20px;
}

    /*aqui termina barra lateral*/
.pantalla3{
    position: absolute;
    background: linear-gradient(180deg, rgba(248, 238, 11, 0.4) 11.98%, rgba(95, 245, 24, 0.4) 100%);
    padding: 0%;
    margin: 0%;
    
}
.letras{
    position: absolute;
    top: 30px;
    width: 500px;
    margin: 0px;
    left: 700px;
    font-family: 'Slackey', cursive;
    font-size: 40px;
    text-align: center;
    color: #407979;
    text-shadow:2.5px 2.5px 1.5px #00E183;

}
.pantalla4{
    background: linear-gradient(180deg, rgba(248, 238, 11, 0.4) 11.98%, rgba(95, 245, 24, 0.4) 100%);
    margin:0%;
    padding: 0%;
    position:-webkit-sticky;
    position: absolute;
   
}

.pokebola{
    position: fixed;
    left: 1760px;
    top: 810px;
    margin: 20px;
    padding: 8px;
    border-radius: 25px;
    outline: transparent;
}
.pokebola:hover{
    box-shadow: 0 0 5px #dd1d1d, 0 0 30px #dd1d1d, 0 0 30px #dd1d1d;
}
.tarjetas{
    
    position: relative;
    background: lightblue;
    top: 15vh;
    left: 20vh;
    display: inline-block;
    
}
.tarjetaLadoA{
    box-sizing: border-box;
    font-family: 'Iceland', cursive;
    background: lightcoral;
    width: 200px;
    height:300px;
	transition: all 1s;
	transform-style: preserve-3d;
	display: inline-block;
    margin: 5vh;
    padding-top:5px;
    padding-bottom: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;

}
.tarjetaLadoA:hover{
    transform: rotateY(180deg);
}
.numeros{
    font-family: 'Iceland', cursive;
}
.nombres{
    font-family: 'Slackey', cursive;
}
/*Aqui comienza barra lateral Jotho*/
.contenedor-menu2{
    position:fixed;
    /*background-image:url(../imagenes/pikanegro.jpg);*/
    background-image: url(../imagenes/fazul.jpg);
    background-size: cover;
    width: 8%;
    right:  2%;
    left: 0%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Iceland', cursive;
    font-size: 25px;
    
}
a{
    text-decoration: none;
    color: white; 

}

.contenedor-menu2 .botonB2{
    width: 100%;
}
.contenedor-menu2 ul{
    list-style: none;
}
.contenedor-menu2 .botonB2 li a{
    display: block;
    padding: 15px;
    background: transparent;
    transition: all .2s linear;
}
/*la siguiente linea realiza cambio de colores sencibles al pasar el mouse sobre el*/
.contenedor-menu2 .botonB2 li a:hover{
    background: #81C258;
    color: purple;
    
}
.contenedor-menu2 .botonB2 .icono.derecha{
    font-size: 12px;
    line-height: 18px;
    float: inline-start;
    margin-left: 20px;
}
.contenedor-menu2 .botonB2 ul li a{
    display: inline-block;
    background-color: #dd1d1d;
    border: 5px rgba(253, 247, 247, 0.53);
}
.contenedor-menu2 .botonB2 ul li a:hover{
    background: rgba(41, 40, 40, 0.993);
    color: rosybrown;
}
nav li ul{
    display: none;
    position: absolute;
    top: 3%;
    left: 85%;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
nav li:hover ul{
    display: block;
    box-shadow: 0 0 5px rgb(34, 33, 33), 0 0 30px black, 0 0 30px black;
}

/*Aqui termina menu lateral johto*/
/*Aqui comienza tarjetas jotho*/
.tarjetas2{
    position: relative;
    top: 20vh;
    left:20vh;
    display: inline-block;

}
.tarjetaLadoA1{
    box-sizing: border-box;
    font-family: 'Iceland', cursive;
    background-image: url(https://image.freepik.com/vector-gratis/diseno-fondo-estrellas-brillantes_1308-35042.jpg);
    width: 240px;
    height:340px;
	transition: all 2s;
	transform-style: preserve-3d;
	display: inline-block;
    margin: 5vh;
    padding-top:5px;
    padding-bottom: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 70px 70px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    color: white;
}
.tarjetaLadoA1:hover{
    transform: rotateY(90deg);
}
.numerosA{
    font-family: 'Iceland', cursive;
    color: yellow;
    text-shadow:2.5px 2.5px 1.5px #000205;
    font-size: 23px;

    
}
.nombresA{
    font-family: 'Slackey', cursive;
    color: #e1fa01;
    text-shadow:3px 2.5px 1.5px #032564;
    font-size: 25px;
    text-align: center;
}
.muñes{
    position: relative;
    top: -55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    background-color: transparent;
}
.alturaA{
    color:silver;
    text-shadow:2.5px 2.5px 1.5px #000205;
    
    font-size: 20px;
   
}
.pesoA{
    color:silver;
    text-shadow:2.5px 2.5px 1.5px #000205;
  
}
.resistenciaA{
    font-size:20px ;
    text-shadow:2.5px 2.5px 1.5px #000205;
    color: white;
   
}
.tipoA{
    font-size:20px ;
    text-shadow:2.5px 2.5px 1.5px #000205;
    color:white;
   
}
.debilidadesA{
    font-size:20px ;
    text-shadow:2.5px 2.5px 1.5px #000205;
    background-color:rgb(47, 77, 160);
}

/*Aqui termina tarjetas lado jotho*/
/*letras jotho*/
.letras2{
    position: absolute;
    top: 30px;
    width: 500px;
    margin: 0px;
    left: 700px;
    font-family: 'Slackey', cursive;
    font-size: 50px;
    text-align: center;
    color:rgb(236, 214, 11);
    -webkit-text-stroke: 2.5px  rgb(47, 77, 160);
    text-shadow:8px 2.5px 2.5px #030303;
    

}
/*letras jotho fin */