body{
    margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
}
.pantalla1{
    background-image:url(../imagenes/pokemon.jpg);
    background-size: cover;
    height:auto;
    padding: 50vh 50vh ;
    
}
.instrucciones{
    position:absolute;
    left: 35px;
    top: 5px;
    color: #81C258;
    font-size: 25px;
    line-height: 29px;
}
.tex1{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 365px;
    top: 536px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    color: rgba(253, 247, 247, 0.53);
}
#nomUsuario{
    position: absolute;
    top: 630px;
    left: 419px;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
    color:#B8A0BC;
    margin: 3px;
    padding: 5px 5px;
}
.botonI{
    position: absolute;
    top: 700px;
    left: 319px;
    outline: none;
    background-color:transparent;
    border: double;
    color:#D2D61B;
    width: 28%;
    display: inline-block;
    font-size: 50px;
    margin: 25px;
    padding: 15px 15px;
    
}
.botonI:hover{
    box-shadow: 0 0 5px #cdee3a, 0 0 30px #cdee3a, 0 0 30px #cdee3a;
}
.pantalla2{
    background-image: url(../imagenes/pantalla2.jpeg);
    background-size: cover;
    height:auto;
    padding: 500px 500px;
}
.b1{
    position: absolute;
    width: 500px;
    margin: 65px;
    left: 650px;
    top: 0px;
    font-size: 85px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

}
.b2{
    position: absolute;
    width: 500px;
    left: 720px;
    top: 100px;
    font-size: 75px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;

}
.b3{
    position: absolute;
    width: 700px;
    left: 255px;
    top: 100px;
    font-size: 75px;
    margin: 350px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#1B0FA0;
}
.k{
    position: absolute;
    width: 600px;
    left: 0px;
    top: 600px;
    font-size: 45px;
    margin: 0px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#1B0FA0;

}
.j{
    position: absolute;
    width: 900px;
    left: 1150px;
    top: 600px;
    font-size: 45px;
    margin: 0px;
    font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#1B0FA0;
}
.botonk{
    position: absolute;
    left: 150px;
    top: 650px;
    margin: 20px;
    padding: 8px;
    border-radius: 25px;
    outline: transparent;

}
.botonj{
    position: absolute;
    left: 1460px;
    top: 650px;
    margin: 20px;
    padding: 8px;
    border-radius: 25px;
    outline: transparent;
}
.pantalla3{
      
    background: linear-gradient(180deg, rgba(248, 238, 11, 0.4) 11.98%, rgba(95, 245, 24, 0.4) 100%);
    margin:0%;
    padding: 25.5%;
}
.letras{
    position: absolute;
    top: 30px;
    width: 500px;
    margin: 0px;
    left: 700px;
    font-family:Vast Shadow, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center;
    color: #407979;
    text-shadow:2.5px 2.5px 1.5px #00E183;

}
.pantalla4{
    background: linear-gradient(180deg, rgba(248, 238, 11, 0.4) 11.98%, rgba(95, 245, 24, 0.4) 100%);
    margin:0%;
    padding: 15vh 2vh;
    position:-webkit-sticky;
    position: sticky;
    top:auto;
    width: auto;
    height: auto;
    
}

.pokebola{
    position: fixed;
    left: 1900px;
    top: 810px;
    margin: 20px;
    padding: 8px;
    border-radius: 25px;
    outline: transparent;
}
.pokebola:hover{
    box-shadow: 0 0 5px #dd1d1d, 0 0 30px #dd1d1d, 0 0 30px #dd1d1d;
}
/* css de menu hamburguesa*/
.hamburgesa{
    position: fixed;
    background-color: transparent;
    left:0;
    top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburgesa.is-active{
    background-color: none;
}
._layer{
    background:#333333;
	margin-bottom:5px;
	border-radius:3px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburgesa:hover .-top{
    -webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburgesa:hover .-bottom{
    -webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
}
.hamburgesa.hamburgesa.is-active .-top{
    -webkit-transform:translateY(200%) rotate(45deg);
	-ms-transform:translateY(200%) rotate(45deg);
	transform:translateY(200%) rotate(45deg);
}
.hamburgesa.is-active .-mid{
	opacity:0;
}
.hamburgesa.is-active .-bottom{
    -webkit-transform:translateY(-200%) rotate(135deg);
	-ms-transform:translateY(-200%) rotate(135deg);
	transform:translateY(-200%) rotate(135deg);
}
.menufiltro.is_active{
    transform: translate3d(0px, 0px, 0px);
}
.menufiltro{
    background-color:transparent;
    bottom: 0%;
    height: 100%;
    left: 20px;
    overflow-y: none;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menufiltro ul li{
    list-style: none;
    text-align: left;
	font-family: Verdadna, Arial, Helvetica;
	color: nav-color-text;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
   color: #369;
	text-transform:none;
	font-weight:bold;
}
.menufiltro ul li a{
    text-decoration: none;
    color: #369;
}
.menufiltro ul li a:hover{
    text-decoration: none;
    color: #333333;
}
/*aqui termina css de menu hamburguesa*/
.tarjetas2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.tarjetasA {

    background: black;
    width: 280px;
    height: 200px;
    transition: all 1s;
    transform-style: preserve-3d;
    display: inline-block;
    padding: 0%;
    padding-bottom: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    color: gray;
    display: flex;
    }
.tarjetasA:hover{
        transform: rotateY(180deg);
      }

.tarjetasB {
        position: relative;
        background: white;
        width: 280px;
        height: 250px;
        transition: all 1s;
        transform-style: preserve-3d;
        display: inline-block;
        margin: 5vh;
        padding-top: 5px;
        padding-bottom: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        box-shadow: -1px 15px 30px -12px black;
        color: gray;
    
        }
   .muñes{
     size: 20vh;
   }
